@import "normalize.css";
.browsehappy {
    margin: 0;
    background: #dc3228;
    color: #ffffff;
    padding: 10px 0;
  text-align: center;
}
.browsehappy a{
  color: #ffffff;
}
.main h1{
  text-align: center;
  padding-top: 300px;
  color:#000000;
}
.ie8 .main h1{
  color: red;
}
.ie9 .main h1{
  color: #555555;
}
